*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    

body{overflow-x: hidden;

}
    header{
      background-color: rgb(72, 102, 128);
     width: 100%;
     position: fixed;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center; 

     padding: 10px 200px;}

     .logo{ font-family:'Carter One', cursive;
      font-size: 16px;
       color: bisque;
       text-transform: uppercase;
       font-weight: 700;
      

   }

    

    .nav .pc{
      color: rgb(255, 255, 255); 
      font-size: 1.1em;
      font-weight: 500;
      padding-left:30px;
      text-decoration: 30px;
      visibility: visible;
      margin:10px ;
   
   }
        .nav-mobil{
         visibility:hidden;
         display: none;
        } 
/*  عشان button */



      section { 
        padding:100px 200px;
        background-color:rgba(252, 247, 241, 0.603);}
        /* هدول عشان انزل الكلام من nav bar */

      /* #Education{background-color: blanchedalmond;} */

      .name {
         width: 100%;
         min-height: 100vh;
/*  vh عشان يغطي كل شي بشاشه */
         display: flex;
         align-items: center;
         background-image:url(o.png);
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
         padding:0 40px ;
       }


      .name h2{
         color: rgb(38, 95, 142);
         font-size: 62px;
         font-weight: 900;
         font-family: 'Courgette', cursive;}
        
        
        .name h3{
          font-size: 42px;
         font-weight: 950px;
         font-family: 'Courgette', cursive;  }

        
     .title{
       display: flex;
       justify-content: center  ;
       /* background-color: rgba(191, 186, 186, 0.999); */
       color: rgb(5, 5, 24);
      font-size: 4.2em;
      font-weight: 900;
      margin-bottom: 90px;


      /* يصير فرق بين العنوان والمحتوى */

      font-family: 'Carter One', cursive;}
 
   
   .content{
      display: flex;
       justify-content: center;
       flex-direction: row;
       margin-bottom: -100px;
      /* flex-wrap :wrap;  */
      /* بنزل الكرت لتحت */

 }


   .car{
      background-color: rgba(138, 187, 211, 0.447);
      width: 500px;
      box-shadow: 0 5px 25px rgba(67, 53, 192, 0.799);
      border-radius: 200px;
      padding: 10px;
      margin: 35px;
      }
   
         .ic{
          font-size: 50px;
          width: 300px; 
          margin-bottom: 20px;
            }
            
#Experience{background-color: rgb(236, 234, 222);}



        .info{ text-align: center;
         padding: 25px;
         margin: 10px;
        color: rgb(13, 5, 5);
           /* font-size: 20px;
           font-weight: 500; */
        }
       
      
        

                 .ca{
                  
                  width: 700px;
                  background-image: url(f.png);
                  background-size: cover;
                 
                  /* border-radius: 200px; */
                  padding: 40px;
                  margin: 45px;
                  }

                  .c{
                  
                     width: 700px;
                     background-image: url(a.png);
                     
                     background-size: cover;
                     /* border-radius: 200px; */
                     padding: 40px;
                     margin: 45px;
                     }

         
                 





        .list{
          text-align:center;
          font-family: 'Alice', serif;
          font-size: 25px;
          font-weight: 600;
           }
           .content{ margin-top: 20px;}

           .pro-card{
            background-color: rgb(168, 183, 197);
               border:  5px solid rgb(165, 213, 235);
               border-radius: 30px;
               
               min-height: 4px;
               width: 280px;
               overflow:hidden;
               margin: 50px;}     

          .pro img img{ width:100% ;}

          .pro-info{ padding: 15px;}
            
          .pro-info span{ margin:10px 0px ;}

          #skills{background-color: rgb(231, 224, 215);}
            
          .skill-content {row-gap: 3.5rem;}
/*            
          .skill-title{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

          } */
           .skills-info ,.skills-data ,.skills-blob{display: grid;
          }
            .skills-content{ display: grid;
                grid-template-columns:repeat(3, 1fr);
                gap: 2rem 4rem}
               /* padding: 10px;} */

             .skills-data{justify-content: center;
                    text-align: center;}
                    .skills-blob img{
                     border-radius: 10px;
                     place-items: cent;
                    }

           .skills-name {width: "80px";}
         


         .footer{
            background-color: rgb(91, 125, 149);
            display: flex;
            justify-content: center;
            padding: 20px;
         }
         

         .icon a {
            color: rgb(237, 220, 220);
            font-size: 30px;
            padding: 0px 20px ;}
            .icon a:hover{
             color: thistle;
            }
            a span{ 
                    font-size: 20px;}
        



/* ........................................... */
/* ........................................... */


   @media  ( max-width:1026px)
            { 
               body { font-size: 15px;}
            .nav-mobil{ visibility:visible;
                 display: inline-block;}

            
            header { padding:12px 20px;}
            .nav .pc { visibility: hidden;
            display: none;}
            .title{ font-size: 1.8em;}   
            section{ padding: 80px 20px;}
            .card{width: 250px;}
            .name h3{font-size: 30px};
            .name h2{ font-size: 40px;}
            .content{flex-direction: column;
            align-items: center; 
          } }
   
         

               @media (min-width:210px) and (max-width:1200px){
                  .name{background-image: none;}
                  }
             

          @media (max-width:360px)

          { .ca{
            width: 300px;
            background-image: url(f.png);
            padding: 40px;
            margin: 45px;
            }

             .c{
               width: 300px;
               background-image: url(a.png);
               padding: 40px;
               margin: 45px;
               }
               .car{
                  background-color: rgba(138, 187, 211, 0.447);
                  width: 300px;
                  box-shadow: 0 5px 25px rgba(67, 53, 192, 0.799);
                  border-radius: 200px;
                  padding: 10px;
                  margin: 35px;
                  } 
            
                  .name h2{
                     color: rgb(38, 95, 142);
                     font-size: 22px;
                     font-weight: 900;
                     font-family: 'Courgette', cursive;}
                    
            
            
            .nav {padding-left: 4px;}
             .name h3{ font-size: 15px;}
             .nameh2{font-size: 20px ;} .title{ font-size: 20px;}   
             section{ padding: 60px 10px;}
             .card{width: 150px;}


             .skills-content{ display: grid;
               grid-template-columns:repeat(2, 1fr);
               gap: 2rem 4rem}
              /* padding: 10px;} */

            .skills-data{justify-content: center;
                   text-align: center;}
                   .skills-blob img{
                    border-radius: 10px;
                    place-items: cent;
                   }

             
               }

         

          